<section class="about" id="about">
  <div class="about-wrap container">
    <h2 class="about-title">About the Game</h2>
    <div class="about-list-wrap">
      <picture class="about-picture">
        <source
          media="(max-width: 1439px)"
          srcset="
            ./img/about/about-mobile.png    1x,
            ./img/about/about-mobile@2x.png 2x
          "
          width="210"
          height="99"
        />
        <img
          srcset="./img/about/about.png 1x, ./img/about/about@2x.png 2x"
          src="./img/about/about.png"
          alt="funny players"
          width="602"
          height="273"
        />
      </picture>

      <div class="about-text-wrap">
        <h3 class="about-subtitle">Easy to start, hard to stop</h3>
        <p class="about-text">
          Wonder Tiles: Match 3 Puzzle delivers a classic match-3 experience
          focused on smooth gameplay and satisfying visual feedback. Players
          clear tiles, complete level goals, and move through increasingly
          engaging challenges. You know how it is - you tell yourself 'just one
          level' and suddenly it's been 30 minutes.
        </p>
      </div>
    </div>
  </div>
</section>
