<section class="faq-section" id="faq">
  <div class="container faq-wrapper">
    <h2 class="faq-title">FAQ</h2>

    <div class="faq-list">
      <details class="faq-item" data-faq-item="faq-item">
        <summary data-faq-summary="faq-summary">
          <span class="faq-question">Is the game easy to learn?</span>
          <span
            class="icon-wrapper"
            data-faq-item-icon-wrapper="faq-item-icon-wrapper"
          >
            <svg class="icon-arrow">
              <use href="/img/icons/sprite.svg#icon-back-mobile"></use>
            </svg>
          </span>
        </summary>
        <div class="faq-content" data-faq-content="faq-content">
          <div class="faq-inner">
            <p>Yes. The mechanics are simple and intuitive.</p>
          </div>
        </div>
      </details>

      <details class="faq-item" data-faq-item="faq-item">
        <summary data-faq-summary="faq-summary">
          <span class="faq-question">Do levels get harder?</span>
          <span
            class="icon-wrapper"
            data-faq-item-icon-wrapper="faq-item-icon-wrapper"
          >
            <svg class="icon-arrow">
              <use href="/img/icons/sprite.svg#icon-back-mobile"></use>
            </svg>
          </span>
        </summary>
        <div class="faq-content" data-faq-content="faq-content">
          <div class="faq-inner">
            <p>Yes. Difficulty increases gradually.</p>
          </div>
        </div>
      </details>

      <details class="faq-item" data-faq-item="faq-item">
        <summary data-faq-summary="faq-summary">
          <span class="faq-question">Are boosters available?</span>
          <span
            class="icon-wrapper"
            data-faq-item-icon-wrapper="faq-item-icon-wrapper"
          >
            <svg class="icon-arrow">
              <use href="/img/icons/sprite.svg#icon-back-mobile"></use>
            </svg>
          </span>
        </summary>
        <div class="faq-content" data-faq-content="faq-content">
          <div class="faq-inner">
            <p>Yes. They help in more complex levels.</p>
          </div>
        </div>
      </details>

      <details class="faq-item" data-faq-item="faq-item">
        <summary data-faq-summary="faq-summary">
          <span class="faq-question">Can I play offline?</span>
          <span
            class="icon-wrapper"
            data-faq-item-icon-wrapper="faq-item-icon-wrapper"
          >
            <svg class="icon-arrow">
              <use href="/img/icons/sprite.svg#icon-back-mobile"></use>
            </svg>
          </span>
        </summary>
        <div class="faq-content" data-faq-content="faq-content">
          <div class="faq-inner">
            <p>Most levels can be played anytime.</p>
          </div>
        </div>
      </details>

      <details class="faq-item" data-faq-item="faq-item">
        <summary data-faq-summary="faq-summary">
          <span class="faq-question">Is it suitable for casual players?</span>
          <span
            class="icon-wrapper"
            data-faq-item-icon-wrapper="faq-item-icon-wrapper"
          >
            <svg class="icon-arrow">
              <use href="/img/icons/sprite.svg#icon-back-mobile"></use>
            </svg>
          </span>
        </summary>
        <div class="faq-content" data-faq-content="faq-content">
          <div class="faq-inner">
            <p>Yes. It’s designed for all experience levels.</p>
          </div>
        </div>
      </details>
    </div>
  </div>
</section>
