<footer class="footer">
  <div class="container">
    <h2 class="footer-title">Stay connected</h2>
    <div class="footer-contact">
      <p class="footer-mail">
        Email:
        <a href="mailto:info@lowprotocol.space"> info@lowprotocol.space </a>
      </p>
    </div>

    <div class="footer-links">
      <a href="./policies.html">Privacy Policy</a>
      <span>/</span>
      <a href="./terms.html">Terms &amp; Conditions</a>
    </div>

    <p class="footer-copy">© 2026 lowprotocol.space — All rights reserved</p>
  </div>
</footer>
