<section class="gallery-section" id="gallery">
  <div class="container gallery-wrapper">
    <h2 class="gallery-title">Gallery</h2>
    <p class="gallery-desc">Color and motion</p>

    <div class="gallery-slider-box">
      <button
        class="gallery-slider-button-prev"
        type="button"
        aria-label="Previous slide"
        data-nav="gallery-slider-button-prev"
      >
        <svg class="gallery-slider-btn-arrow">
          <use href="/img/icons/sprite.svg#icon-back-mobile"></use>
        </svg>
      </button>

      <div class="swiper gallery-swiper" id="gallery-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source
                media="(max-width: 1439px)"
                srcset="
                  ./img/gallery/m_gallery_slide01.png    1x,
                  ./img/gallery/m_gallery_slide01@2x.png 2x
                "
              />
              <img
                src="./img/gallery/gallery_slide01.png"
                alt="Gallery image 'Booster!'"
              />
            </picture>
          </div>

          <div class="swiper-slide">
            <picture>
              <source
                media="(max-width: 1439px)"
                srcset="
                  ./img/gallery/m_gallery_slide02.png    1x,
                  ./img/gallery/m_gallery_slide02@2x.png 2x
                "
              />
              <img
                src="./img/gallery/gallery_slide02.png"
                alt="Gallery image 'Challenge!'"
              />
            </picture>
          </div>

          <div class="swiper-slide">
            <picture>
              <source
                media="(max-width: 1439px)"
                srcset="
                  ./img/gallery/m_gallery_slide03.png    1x,
                  ./img/gallery/m_gallery_slide03@2x.png 2x
                "
              />
              <img
                src="./img/gallery/gallery_slide03.png"
                alt="Gallery image 'Level Complete!'"
              />
            </picture>
          </div>

          <div class="swiper-slide">
            <picture>
              <source
                media="(max-width: 1439px)"
                srcset="
                  ./img/gallery/m_gallery_slide04.png    1x,
                  ./img/gallery/m_gallery_slide04@2x.png 2x
                "
              />
              <img
                src="./img/gallery/gallery_slide04.png"
                alt="Gallery image 'Match 3!'"
              />
            </picture>
          </div>

          <div class="swiper-slide">
            <picture>
              <source
                media="(max-width: 1439px)"
                srcset="
                  ./img/gallery/m_gallery_slide05.png    1x,
                  ./img/gallery/m_gallery_slide05@2x.png 2x
                "
              />
              <img
                src="./img/gallery/gallery_slide05.png"
                alt="Gallery image 'Combo!'"
              />
            </picture>
          </div>

          <div class="swiper-slide">
            <picture>
              <source
                media="(max-width: 1439px)"
                srcset="
                  ./img/gallery/m_gallery_slide01.png    1x,
                  ./img/gallery/m_gallery_slide01@2x.png 2x
                "
              />
              <img
                src="./img/gallery/gallery_slide01.png"
                alt="Gallery image 'Booster!'"
              />
            </picture>
          </div>

          <div class="swiper-slide">
            <picture>
              <source
                media="(max-width: 1439px)"
                srcset="
                  ./img/gallery/m_gallery_slide02.png    1x,
                  ./img/gallery/m_gallery_slide02@2x.png 2x
                "
              />
              <img
                src="./img/gallery/gallery_slide02.png"
                alt="Gallery image 'Challenge!'"
              />
            </picture>
          </div>

          <div class="swiper-slide">
            <picture>
              <source
                media="(max-width: 1439px)"
                srcset="
                  ./img/gallery/m_gallery_slide03.png    1x,
                  ./img/gallery/m_gallery_slide03@2x.png 2x
                "
              />
              <img
                src="./img/gallery/gallery_slide03.png"
                alt="Gallery image 'Level Complete!'"
              />
            </picture>
          </div>

          <div class="swiper-slide">
            <picture>
              <source
                media="(max-width: 1439px)"
                srcset="
                  ./img/gallery/m_gallery_slide04.png    1x,
                  ./img/gallery/m_gallery_slide04@2x.png 2x
                "
              />
              <img
                src="./img/gallery/gallery_slide04.png"
                alt="Gallery image 'Match 3!'"
              />
            </picture>
          </div>

          <div class="swiper-slide">
            <picture>
              <source
                media="(max-width: 1439px)"
                srcset="
                  ./img/gallery/m_gallery_slide05.png    1x,
                  ./img/gallery/m_gallery_slide05@2x.png 2x
                "
              />
              <img
                src="./img/gallery/gallery_slide05.png"
                alt="Gallery image 'Combo!'"
              />
            </picture>
          </div>
        </div>
      </div>

      <button
        class="gallery-slider-button-next"
        type="button"
        aria-label="Next slide"
        data-nav="gallery-slider-button-next"
      >
        <svg class="gallery-slider-btn-arrow">
          <use href="/img/icons/sprite.svg#icon-back-mobile"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
