<header class="header-section">
  <div class="container">
    <nav class="nav">
      <a
        href="./index.html"
        class="nav-logo logo-link"
        aria-label="Логотип сайту"
      >
        <picture>
          <source
            media="(max-width: 1439px)"
            srcset="
              ./img/header/Frame-mobile-2.png    1x,
              ./img/header/Frame-mobile-2@2x.png 2x
            "
            width="22"
            height="21"
          />
          <img
            srcset="./img/header/Frame-2.png 1x, ./img/header/Frame-2@2x.png 2x"
            src="./img/header/Frame-2.png"
            alt="Girl is freeze"
            width="69"
            height="70"
          />
        </picture>
      </a>

      <ul class="menu-list">
        <li class="menu-item">
          <a class="menu-link" data-menu-link href="#about" aria-label="about the game"
            >About the Game</a
          >
        </li>
        <li class="menu-item">
          <a class="menu-link" data-menu-link href="#how" aria-label="How to Play"
            >How to Play</a
          >
        </li>
        <li class="menu-item">
          <a class="menu-link" data-menu-link href="#features" aria-label="Features"
            >Features</a
          >
        </li>
        <li class="menu-item">
          <a class="menu-link" data-menu-link href="#why" aria-label="Why Download"
            >Why Download</a
          >
        </li>
        <li class="menu-item">
          <a class="menu-link" href="#gallery" aria-label="Gallery">Gallery</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" data-menu-link href="#reviews" aria-label="Player Reviews"
            >Player Reviews</a
          >
        </li>
        <li class="menu-item">
          <a class="menu-link" data-menu-link href="#faq" aria-label="FAQ">FAQ</a>
        </li>
      </ul>

<button
  class="burger-button menu-btn-open"
  type="button"
  aria-label="open menu"
  data-action="open-menu"
>
        <svg class="burger-icon hero-burger-icon">
          <use href="/img/icons/sprite.svg#icon-burger"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
