<header class="header-terms-section">
  <div class="header-terms-container">
    <nav class="header-terms-nav">
      <a
        href="./index.html"
        class="nav-logo logo-link"
        aria-label="Логотип сайту"
      >
        <picture>
          <source
            media="(max-width: 1439px)"
            srcset="
              ./img/header/Frame-mobile-2.png    1x,
              ./img/header/Frame-mobile-2@2x.png 2x
            "
            width="22"
            height="21"
          />
          <img
            srcset="./img/header/Frame-2.png 1x, ./img/header/Frame-2@2x.png 2x"
            src="./img/header/Frame-2.png"
            alt="frozen girl"
            width="69"
            height="70"
          />
        </picture>
      </a>

      <a href="./index.html" class="header-terms-button" aria-label="go home">
        <svg class="header-terms-back header-term-icon">
          <use
            href="/img/icons/sprite.svg#icon-back-mobile"
            class="terms-icon-mobile"
          ></use>
          <use
            href="/img/icons/sprite.svg#icon-back"
            class="terms-icon-desktop"
          ></use>
        </svg>
      </a>
    </nav>
  </div>
</header>
