<section class="hero-section" id="hero">
  <div class="container hero-box">
    <h1 class="hero-title">Match, Clear, and Keep the Flow Going</h1>
    <p class="hero-text">
      You'll be surprised how good it feels<br />
      when those combos start chaining together.
    </p>
    <a
      href="https://play.google.com/store/apps/details?id=com.tile.match.puzzle.casual.game&hl=en&gl=us"
      class="btn-hero"
      aria-label="Google Play"
      target="_blank"
      rel="noopener noreferrer"
      ><div class="hero-googleplay-background">
        <img
          src="./img/hero/logos_google-play-icon.png"
          width="32"
          height="35"
          alt="play market"
          class="hero-play-logo"
        />

        <div class="hero-wrapper">
          <p class="hero-playmarket-text">Get in on</p>
          <p class="hero-google-text">Google Play</p>
        </div>
      </div></a
    >
  </div>
</section>
