<section class="how" id="how">
  <div class="container how-wrap">
    <h2 class="how-title">How to Play</h2>
    <p class="how-subtitle">Clear steps, instant feedback</p>
    <div class="how-match how-box">
      <p class="how-box-title">Match Tiles</p>
      <picture class="how-pic">
        <source
          media="(max-width: 1439px)"
          srcset="
            ./img/how/Ellipse-mobile.png    1x,
            ./img/how/Ellipse-mobile@2x.png 2x
          "
          width="64"
          height="62"
        />
        <img
          srcset="./img/how/Ellipse1.png 1x, ./img/how/Ellipse1@2x.png 2x"
          src="./img/how/Ellipse1.png"
          alt="Match title"
          width="142"
          height="142"
        />
      </picture>
      <p class="how-box-subtitle">
        Combine three or more identical tiles to clear them from the board.
      </p>
    </div>

    <picture class="how-line1">
      <source
        media="(max-width: 1439px)"
        srcset="./img/how/Line-mobile.png 1x, ./img/how/Line-mobile@2x.png 2x"
        width="167"
        height="28"
      />
      <img
        srcset="./img/how/Line1.png 1x, ./img/how/Line1@2x.png 2x"
        src="./img/how/Line1.png"
        alt="Match title"
        width="361"
        height="77"
      />
    </picture>

    <div class="how-build how-box">
      <p class="how-box-title">Build Combos</p>
      <picture class="how-pic">
        <source
          media="(max-width: 1439px)"
          srcset="
            ./img/how/Ellipse2-mobile.png    1x,
            ./img/how/Ellipse2-mobile@2x.png 2x
          "
          width="64"
          height="62"
        />
        <img
          srcset="./img/how/Ellipse2.png 1x, ./img/how/Ellipse2@2x.png 2x"
          src="./img/how/Ellipse2.png"
          alt="Build Combos"
          width="142"
          height="142"
        />
      </picture>
      <p class="how-box-subtitle">
        Create larger matches to trigger powerful chain reactions
      </p>
    </div>
    <picture class="how-line2">
      <source
        media="(max-width: 1439px)"
        srcset="./img/how/Line2-mobile.png 1x, ./img/how/Line2-mobile@2x.png 2x"
        width="159"
        height="38"
      />
      <img
        srcset="./img/how/Line2.png 1x, ./img/how/Line2@2x.png 2x"
        src="./img/how/Line2.png"
        alt="Line2"
        width="329"
        height="53"
      />
    </picture>
    <div class="how-comp how-box">
      <p class="how-box-title">Complite Objectives</p>
      <picture class="how-pic">
        <source
          media="(max-width: 1439px)"
          srcset="
            ./img/how/Ellipse3-mobile.png    1x,
            ./img/how/Ellipse3-mobile@2x.png 2x
          "
          width="64"
          height="62"
        />
        <img
          srcset="./img/how/Ellipse3.png 1x, ./img/how/Ellipse3@2x.png 2x"
          src="./img/how/Ellipse3.png"
          alt="Complite Objectives"
          width="142"
          height="142"
        />
      </picture>
      <p class="how-box-subtitle">Focus on level-specific goals to progress</p>
    </div>
    <picture class="how-line3">
      <source
        media="(max-width: 1439px)"
        srcset="./img/how/Line3-mobile.png 1x, ./img/how/Line3-mobile@2x.png 2x"
        width="172"
        height="41"
      />
      <img
        srcset="./img/how/Line3.png 1x, ./img/how/Line3@2x.png 2x"
        src="./img/how/Line3.png"
        alt="Line3"
        width="231"
        height="431"
      />
    </picture>
    <div class="how-use how-box">
      <p class="how-box-title">Use Boosters</p>
      <picture class="how-pic">
        <source
          media="(max-width: 1439px)"
          srcset="
            ./img/how/Ellipse4-mobile.png    1x,
            ./img/how/Ellipse4-mobile@2x.png 2x
          "
          width="64"
          height="62"
        />
        <img
          srcset="./img/how/Ellipse4.png 1x, ./img/how/Ellipse4@2x.png 2x"
          src="./img/how/Ellipse4.png"
          alt="Use Boosters"
          width="142"
          height="142"
        />
      </picture>
      <p class="how-box-subtitle">
        Activate special tools to overcome difficult layouts
      </p>
    </div>
    <picture class="how-line4">
      <source
        media="(max-width: 1439px)"
        srcset="./img/how/Line4-mobile.png 1x, ./img/how/Line4-mobile@2x.png 2x"
        width="162"
        height="52"
      />
      <img
        srcset="./img/how/Line4.png 1x, ./img/how/Line4@2x.png 2x"
        src="./img/how/Line4.png"
        alt="Line4"
        width="491"
        height="86"
      />
    </picture>
    <div class="how-adv how-box">
      <p class="how-box-title">Advance Levels</p>
      <picture>
        <source
          media="(max-width: 1439px)"
          srcset="
            ./img/how/Ellipse5-mobile.png    1x,
            ./img/how/Ellipse5-mobile@2x.png 2x
          "
          width="64"
          height="62"
        />
        <img
          srcset="./img/how/Ellipse5.png 1x, ./img/how/Ellipse5@2x.png 2x"
          src="./img/how/Ellipse5.png"
          alt="Advance Levels"
          width="142"
          height="142"
        />
      </picture>
      <p class="how-box-subtitle">
        Unlock new stages with increasing complexity
      </p>
    </div>
  </div>
</section>
