<div class="mobile-menu" data-menu="mobile" data-state="closed">
  <div class="container">
    <button
      class="close-btn menu-btn-close"
      type="button"
      aria-label="close-menu"
      data-action="close-menu"
    >
      <svg class="close-icon" width="24" height="24">
        <use href="/img/icons/sprite.svg#icon-back-mobile"></use>
      </svg>
    </button>
    <nav class="mob-nav">
      <ul class="mob-menu-list">
        <li class="menu-item">
          <a
            class="menu-link"
            data-menu-link
            href="#about"
            aria-label="about the game"
            >About the Game</a
          >
        </li>
        <li class="menu-item">
          <a
            class="menu-link"
            data-menu-link
            href="#how"
            aria-label="How to Play"
            >How to Play</a
          >
        </li>
        <li class="menu-item">
          <a
            class="menu-link"
            data-menu-link
            href="#features"
            aria-label="Features"
            >Features</a
          >
        </li>
        <li class="menu-item">
          <a
            class="menu-link"
            data-menu-link
            href="#why"
            aria-label="Why Download"
            >Why Download</a
          >
        </li>
        <li class="menu-item">
          <a
            class="menu-link"
            data-menu-link
            href="#gallery"
            aria-label="Gallery"
            >Gallery</a
          >
        </li>
        <li class="menu-item">
          <a
            class="menu-link"
            data-menu-link
            href="#reviews"
            aria-label="Player Reviews"
            >Player Reviews</a
          >
        </li>
        <li class="menu-item">
          <a class="menu-link" data-menu-link href="#faq" aria-label="FAQ"
            >FAQ</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>
