<section class="why-section" id="why">
  <div class="container">
    <h2 class="why-title">Why Download</h2>
    <p class="why-subtitle">Built for everyday play</p>
    <div class="why-box-container">
      <div class="why-box">
        <picture class="why-box-picture"
          ><source
            media="(max-width: 1439px)"
            srcset="./img/why/mcompass.png 1x, ./img/why/mcompass@2x.png 2x"
            width="64"
            height="62" />
          <img
            srcset="./img/why/comp.png 1x, ./img/why/comp@2x.png 2x"
            src="./img/why/comp.png"
            alt="Compass"
            width="132"
            height="130"
        /></picture>
        <h3 class="why-box-title">Relax and Play</h3>
        <p class="why-box-subtitle">Easy mechanics reduce friction</p>
      </div>
      <div class="why-box">
        <picture class="why-box-picture"
          ><source
            media="(max-width: 1439px)"
            srcset="./img/why/mstrawb.png 1x, ./img/why/mstrawb@2x.png 2x"
            width="64"
            height="62" />
          <img
            srcset="./img/why/strawb.png 1x, ./img/why/strawb@2x.png 2x"
            src="./img/why/strawb.png"
            alt="Strawberry"
            width="120"
            height="116"
        /></picture>
        <h3 class="why-box-title">Stay Engaged</h3>
        <p class="why-box-subtitle">Levels evolve and keep things fresh</p>
      </div>
      <div class="why-box">
        <picture class="why-box-picture"
          ><source
            media="(max-width: 1439px)"
            srcset="./img/why/mpinap.png 1x, ./img/why/mpinap@2x.png 2x"
            width="64"
            height="62" />
          <img
            srcset="./img/why/pinap.png 1x, ./img/why/pinap@2x.png 2x"
            src="./img/why/pinap.png"
            alt="Compass"
            width="130"
            height="131"
        /></picture>
        <h3 class="why-box-title">Feel Progress</h3>
        <p class="why-box-subtitle">Clear rewards after each level</p>
      </div>
      <div class="why-box">
        <picture class="why-box-picture"
          ><source
            media="(max-width: 1439px)"
            srcset="./img/why/msand.png 1x, ./img/why/msand@2x.png 2x"
            width="64"
            height="62" />
          <img
            srcset="./img/why/sand.png 1x, ./img/why/sand@2x.png 2x"
            src="./img/why/sand.png"
            alt="Sand-clock"
            width="108"
            height="117"
        /></picture>
        <h3 class="why-box-title">Play Anytime</h3>
        <p class="why-box-subtitle">Designed for flexible sessions</p>
      </div>
    </div>
  </div>
</section>
