/* Styles for Mobile devices */
.container {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}

@media (max-width: 340px) {
  .container {
    padding: 0 12px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 60px;
  }
}
