.reviews-section {
  padding: 4px 0 72px;
  background: radial-gradient(
    34.59% 62.78% at 50% 40.11%,
    var(--radial-gradient-from-to)
  );
  scroll-margin-top: 33px;
}

.reviews-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews-title {
  font-family: var(--fredoka-font-family);
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin-bottom: 49px;
  text-shadow:
    -2px -2px 0 var(--stroke-dark),
    2px -2px 0 var(--stroke-dark),
    -2px 2px 0 var(--stroke-dark),
    2px 2px 0 var(--stroke-dark);
}

/* =========================
   SLIDER
========================= */

.reviews-slider-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 19px;
  width: 100%;
  padding: 0 14px;
}

.reviews-swiper {
  width: 100%;
  overflow: hidden;
}

.swiper-wrapper.review-swiper-wrapper {
  align-items: stretch;
}

.reviews-swiper .swiper-slide {
  height: auto;
  display: flex;
  width: 100%;
  overflow: hidden;
  border-radius: 16px;
  box-shadow:
    0 10px 25px 0 rgba(43, 46, 131, 0.35),
    inset 0 1px 0 0 rgba(175, 203, 255, 0.6),
    0 0 40px 0 rgba(122, 92, 255, 0.25);
  background: linear-gradient(180deg, #9fd0ff 0%, #6ea8ff 50%, #4f7bff 100%);
}

.review {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex: 1;
  padding: 12px;
  gap: 4px;
}

.review-top {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 17px;
}

.review-img {
  width: 44px;
  height: 44px;
}

.review-author-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0px;
}

.review-author-name {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  text-shadow:
    -1px -1px 0 var(--stroke-dark),
    1px -1px 0 var(--stroke-dark),
    -1px 1px 0 var(--stroke-dark),
    1px 1px 0 var(--stroke-dark);
}

.review-raiting {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 2.53px;
}

.review-star {
  width: 15px;
  height: 15px;
}
.review-star-full {
  color: #7858ee;
}
.review-text {
  font-family: var(--quicksand-font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
}

/* =========================
   BUTTONS
========================= */

.reviews-slider-button-prev,
.reviews-slider-button-next {
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  border: 1px solid var(--stroke-dark);
  background: linear-gradient(180deg, #9fd0ff 0%, #6ea8ff 50%, #4f7bff 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  cursor: pointer;
  box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.25);
  transition: transform 300ms ease;
}

@media (hover: hover) and (pointer: fine) {
  .reviews-slider-button-prev:hover,
  .reviews-slider-button-next:hover {
    transform: scale(1.1);
  }
}

.reviews-slider-button-prev:active,
.reviews-slider-button-next:active {
  transform: scale(1.1);
}

.reviews-slider-btn-arrow {
  width: 11px;
  height: 11px;
}

.reviews-slider-button-next .reviews-slider-btn-arrow {
  transform: rotate(180deg);
}

.reviews-slider-button-prev.swiper-button-disabled,
.reviews-slider-button-next.swiper-button-disabled {
  opacity: 0.4;
  transform: scale(1);
  cursor: default;
  pointer-events: none; /* block clicks */
}

@media (max-width: 340px) {
  .reviews-slider-box {
    gap: 8px;
  }
  .review-img {
    width: 36px;
    height: 36px;
  }
  .review-author-name {
    font-size: 16px;
  }
}
@media screen and (min-width: 1440px) {
  .reviews-slider-button-prev,
  .reviews-slider-button-next {
    display: none;
  }
  .reviews-section {
    padding-top: 34px;
    padding-bottom: 106px;
    scroll-margin-top: 98px;
  }
  .reviews-section .container {
    padding: 0;
  }
  .reviews-title {
    font-weight: 700;
    font-size: 60px;
    text-align: center;
  }
  .reviews-swiper {
    overflow: visible;
  }

  .reviews-swiper .swiper-wrapper {
    display: grid !important;
    grid-template-columns: 444px 444px 444px;
    grid-template-rows: 309px 309px 309px;

    justify-content: center;

    row-gap: 44px;
  }

  .reviews-swiper .swiper-slide {
    width: 444px !important;
    height: 309px !important;
  }

  /* ====== позиционирование карточек ====== */

  .reviews-swiper .swiper-slide:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }

  .reviews-swiper .swiper-slide:nth-child(2) {
    grid-column: 3;
    grid-row: 1;
  }

  .reviews-swiper .swiper-slide:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
  }

  .reviews-swiper .swiper-slide:nth-child(4) {
    grid-column: 3;
    grid-row: 3;
  }

  .reviews-swiper .swiper-slide:nth-child(5) {
    grid-column: 1;
    grid-row: 3;
  }
  .reviews-swiper .swiper-slide {
    height: auto;
    display: flex;
    width: 100%;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.25);
    background: linear-gradient(180deg, #9fd0ff 0%, #6ea8ff 50%, #4f7bff 100%);
  }

  .review {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex: 1;
    padding-top: 44px;
    gap: 4px;
  }
  .review-img {
    width: 100px;
    height: 100px;
  }
  .review-author-name {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
  }
  .review-raiting {
    gap: 6px;
  }
  .review-star {
    width: 37px;
    height: 34px;
  }
  .review-top {
    margin-bottom: 22px;
    gap: 22px;
  }
  .review-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
  }
}
